@charset 'UTF-8';
@import url('home.css');
@import url('navbar.css');
@import url('foyer.css');
@import url('registration.css');
@import url('contacts.css');
@import url('footer.css');

:root {
	--primary-color: #2980b9; 
	--success-color: #27ae60;
	--warning-color: #f39c12;
	--danger-color: #c0392b;
	--black-color: #1e1e1e;
	--white-color: #ecf0f1;
	--darkblue-color: #34495e;
}

html, body {
	margin: 0; 
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	color: var(--black-color);
	font-family: Merriweather, "Helvetica Neue", Arial, sans-serif;
	list-style: none;
}

button.rounded-button, a.rounded-button {
	border: 2px solid var(--primary-color);
	padding: 15px 30px 15px 30px;
	background-color: transparent;
	border-radius: 25px;
	cursor: pointer;
	text-decoration: none;
	font-size: 15px;
	display: block;
	text-align: center;
}

button.rounded-button:hover, a.rounded-button:hover {
	background-color: var(--primary-color);
}

hr.separator {
	width: 30px;
	border: 2px solid var(--white-color);
}
  
.section-title {
	font-weight: bold;
	color: var(--white-color);
	width: 100%;
	text-align: center;
	font-size: 80px;
	margin-bottom: auto;
	margin-top: 0;
}

.section-subtitle {
	max-width: 600px;
	color: var(--white-color);
	margin-left: auto;
	margin-right: auto;
	font-weight: lighter;
	font-size: 18px;
	margin-bottom: 30px;
	text-align: center;
	opacity: .9;
}

.block-center {
	margin-left: auto;
	margin-right: auto;
}

.container {
	display: -webkit-box;
	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
}

.google-maps {
    position: relative;
    padding-bottom: 35%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
	top: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.circle-icon {
	border-radius: 1em;
	border: 3px solid var(--white-color);
	width: 80px;
	height: 65px;
	padding-top: 14px;
}