@charset 'UTF-8';
@import url('contacts.css');

html {
	--primary-color: #2980b9; 
	--success-color: #27ae60;
	--warning-color: #f39c12;
	--danger-color: #c0392b;
	--black-color: #1e1e1e;
	--white-color: #ecf0f1;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	color: var(--black-color);
	font-family: Arial;
}

button.rounded-button {
	border: 2px solid var(--primary-color);
	padding: 10px 20px;
	background: var(--white-color);
	border-radius: 25px;
}

hr.separator {
	width: 30px;
	border: 2px solid var(--white-color);
}

.section-title {
	color: var(--white-color);
	font-weight: bold;
}

.section-subtitle {
	max-width: 600px;
	color: var(--white-color);
	margin-left: auto;
	margin-right: auto;
	font-weight: lighter;
	font-size: 18px;
}

.block-center {
	margin-left: auto;
	margin-right: auto;
}

.container {
	display: -webkit-box;
	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
}
