@charset 'UTF-8';
@import url('home.css');
@import url('contacts.css');

html {
	--primary-color: #2980b9; 
	--success-color: #27ae60;
	--warning-color: #f39c12;
	--danger-color: #c0392b;
	--black-color: #1e1e1e;
	--white-color: #ecf0f1;
  --blue-color: #2aa6dc;
}

html, body {
	margin: 0; 
	padding: 0;
	width: 100%;
}

body {
	color: var(--black-color);
	font-family: Merriweather, "Helvetica Neue", Arial, sans-serif;
}

button.rounded-button {
	border: 2px solid var(--blue-color);
	padding: 15px 30px 15px 30px;
	background-color: transparent;
	border-radius: 25px;
	cursor: pointer;
}

button.rounded-button:hover {
	background-color: var(--blue-color);
}

hr.separator {
	width: 30px;
	border: 2px solid var(--white-color);
}
  
.section-title {
	font-style: bold;
	width: 100%;
	text-align: center;
	font-size: 80px;
	margin-bottom: auto;
}

.section-subtitle {
	max-width: 600px;
	color: var(--white-color);
	margin-left: auto;
	margin-right: auto;
	font-weight: lighter;
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.block-center {
	margin-left: auto;
	margin-right: auto;
}

.container {
	display: -webkit-box;
	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
}
