#contact_section {
	text-align: center;
	padding: 60px;
	background-color: #34495e;
}

#contact_links {
	justify-content: center;
}

.contact-link {
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	width: 201px;
}

.contact-link > a {
	color: white !important;
	text-decoration: none;
}

.contact-link > a:hover {
	text-decoration: underline;
}

.contact-link > a > i {
	margin-bottom: 10px;
}
