#about_button {
	width: 100%;
	margin-top: 30px;
	color: var(--white-color);
	border-color: var(--blue-color);
}

#about_button_container {
	width: 200px;
}

#home_section {
	width: 100%;
	height: 100%;
    background-image: url(../images/bg-default-bis.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#home_background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	color: var(--white-color);
}

#home_div {
	margin-top: 15%;
}