#about_button {
	width: 100%;
	margin-top: 30px;
	color: var(--white-color);
	border-color: var(--primary-color);
}

#about_button_container {
	width: 200px;
}

#home_section {
	background-image: url('../images/bg-default.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
}

#home_background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: var(--white-color);
	background-color: rgba(0, 0, 0, .5);
}

#home_div {
	margin-top: 15%;
}

#home_separator {
	border: 2px solid var(--primary-color);
}