#navbar {
    background-color: var(--white-color);
    overflow: hidden;
    border-bottom: 2px;
    border-color: var(--primary-color);
    display: flex;
    width: 100%;
}

#navbar a {
    color : var(--black-color);
    text-align: right;
    padding: 5px 16px;
    text-decoration: none;
}

#navbar a:hover {
    color: var(--primary-color);
}

#navbar a.active {
    color: var(--primary-color);
}

#navbar-ul {
    margin-left: auto;
}

#navbar-title {
    font-family: Centaur;
    font-weight: bold;
    display: inline;
    font-size: 22px;
    margin: auto auto auto 5px;
}

.navbar-li {
    display: inline;
    font-size: 16px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}