#prices_section .success-alert {
	margin-bottom: 20px;
}

#prices_administration_form .error-alert {
	width: calc(100% - 200px);
	margin-left: auto;
}

#prices_administration_form label {
	width: 140px;
}

#prices_administration_form input[type="number"] {
	width: calc(100% - 172px);
}
