#animations_section {
	padding-top: 60px;
	text-align: center;	
	background-color: var(--white-color);
	color: var(--darkblue-color);
}

#title_animations {
	color: var(--darkblue-color);
}

#subtitle_animations {	
	max-width: 900px;
	color: var(--darkblue-color);
}

#subtitle_animations a {
	color: var(--darkblue-color) !important;
	text-decoration: none;
	opacity: .7;
}

#subtitle_animations a:hover {
	text-decoration: underline;
	opacity: .5;
}

#subtitle_animations a:active {
	text-decoration: none;
}

#separator_animations {
	border-color: var(--darkblue-color);	
	opacity: .7;
}

.fullwidth-slider-container {
	align-content: center;
	width: 100%;
	margin-top: 30px;
	overflow: hidden;
}

.fullwidth-slider-container ul {
	width: 100%;
	max-height: 658.4px;
	margin: 0px;
	padding-left: 0px;
	list-style: none;
}

.fullwidth-slider-container li {
	margin: auto;
	height: 100%;
	width: 100%;
}

.slider-title {
	top: 0;
	width: 100%;
	font-size: 32px;
	text-align: center;
	color: var(--darkblue-color);
	margin-bottom: 20px;
}

.slider-image {
	width: 50%;
	margin: auto;
}

.background-image {
	width: 100%;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
}

.center-image {
	height: 100%;	
	background-color: rgba(255, 255, 255, 0.7);
	display: flex;  justify-content: center;
    align-items: center;
}

.button {
    color: var(--black-color);
    opacity: .7;
}

.button:hover {
	opacity: 1;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}
