#feedbacks_section {
	text-align: center;
	padding: 60px;
	background-color: var(--white-color);
	color: var(--darkblue-color);
}

#title_feedbacks {
	color: var(--darkblue-color);
}

#subtitle_feedbacks {
	color: var(--darkblue-color);
	max-width: 900px;
}

#subtitle_feedbacks a {
	color: var(--darkblue-color) !important;
	text-decoration: none;
	opacity: .7;
}

#subtitle_feedbacks a:hover {
	text-decoration: underline;
	opacity: .5;
}

#subtitle_feedbacks a:active {
	text-decoration: none;
}

#separator_feedbacks {
	opacity: .7;
	border-color: var(--darkblue-color);
}

.arrow-icon {
	margin: auto;
}

.p-icon {
	margin-top: 5px;
	margin-bottom: 5px;
}


#feedbacks {
	font-style: italic;
	color: var(--darkblue-color);
	width: 100%;
}

#feedbacks ul {
   width: 100%;
   list-style: none;
   justify-content: center;
}

#feedbacks li {
	text-align: left;
	max-width: 400px;
	margin: auto 20px;
}

.name {
	text-align: right;
}